table{
    width: 80%;
    margin: auto;
    border: 0.2px, rgb(146, 39, 55);
    border-collapse: collapse;
    margin-top: 5px;
}
th, td{
    border: 0,2px rgb(146, 39, 55)
}

td:last-child{
    background-color: rgb(226, 177, 185);
    display: flex;
    justify-content: center;
}

buttom{
    margin: 3px;
    background-color: transparent;
    border: none; 
}